html {
  background-image: url(https://images.unsplash.com/photo-1524592714635-d77511a4834d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home {
  padding-top: 0%;
  padding-bottom: 1rem;
}

.Search {
  width: 10rem;
}

.txt {
  color: white;
  font-family: "Bai Jamjuree", sans-serif;
}

.toselect {
  margin-left: 2rem;
}

#search {
  margin-left: 2rem;
}

.place {
  box-shadow: 0 4px 8px 0 rgb(7, 7, 7), 0 6px 20px 0 rgba(10, 10, 10, 0.973);

  border-radius: 10px;

  background: rgba(8, 8, 8, 0.932);
  margin-top: 10rem;
  width: 40rem;
}

.data {
  width: 40rem;
  padding-right: 4rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 10rem;
}

footer {
  padding-top: 30px;
  background-color: #292c2f;
  color: #bbb;
}

footer .form-control {
  background-color: #1f2022;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
  border: none;
  resize: none;
  color: #d1d2d2;
  padding: 0.7em 1em;
}

/* 
#nav {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding-left: 3rem;
  padding-right: 2rem;
  height: 4rem;
}

.nav-bar-box {
  position: fixed;
  margin-top: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(68, 54, 54, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);

  border-radius: 25px;

  background: rgba(0, 0, 0, 0.5);
} */

.form-control:focus {
  box-shadow: none;
}

.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
}

.complete-block {
  padding-top: 5rem;
  padding-left: 10rem;
  position: fixed;
}

.row mb-4 {
  padding: 0rem;
}

.row {
  height: 2rem;
  padding-top: 2rem;
}

.carousel-control.left,
.carousel-control.right {
  background: none;
}
.carousel-control.left {
  left: -25px;
}
.carousel-control.right {
  right: -25px;
}
.broun-block {
  background: url("http://myinstantcms.ru/images/bg-broun1.jpg") repeat scroll
    center top rgba(0, 0, 0, 0);
  padding-bottom: 2rem;
}
.block-text {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 0 #2c2222;
  color: #626262;
  font-size: 14px;
  margin-top: 27px;
  padding: 15px 18px;
}
.block-text a {
  color: #7d4702;
  font-size: 1rem;
  font-weight: bold;
  line-height: 21px;
  text-decoration: none;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.mark {
  padding: 0.5rem 0;
  background: none;
}
.block-text p {
  color: #585858;
  font-family: Georgia;
  font-style: italic;
  line-height: 1rem;
}
.sprite {
  background-image: url();
}
.sprite-i-triangle {
  background-position: 0 -1298px;
  height: 44px;
  width: 50px;
}
.block-text ins {
  bottom: -44px;
  left: 50%;
  margin-left: -60px;
}

.block {
  display: block;
}
.zmin {
  z-index: 1;
}
.ab {
  position: absolute;
}

.person-text {
  padding: 10px 0 0;
  text-align: center;
  z-index: 2;
}
.person-text a {
  color: #ffcc00;
  display: block;
  font-size: 14px;
  margin-top: 3px;
  text-decoration: underline;
}
.person-text i {
  color: #fff;
  font-family: Georgia;
  font-size: 13px;
}
.rel {
  position: relative;
}
/* 
.review-block {
  padding-top:20rem;
}
 */

.review-row .review-grid {
  color: white;
  font-family: "Kanit", sans-serif;
  bottom: 0px;
  position: absolute;
  scrollbar-width: 0px;
  grid-gap: 1px;
  display: grid;
  height: 20rem;
}
.review-grid::-webkit-scrollbar {
  display: none;
}
.review-grid {
  overflow-y: scroll;
}
